[Unit]
Description=Raspbdio
After=network.target graphical.target
Requires=network.target graphical.target

[Service]
User=<USER>
Group=<USER>
WorkingDirectory=/home/<USER>/raspbdio
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/<USER>/raspbdio/raspbdio.py
Type=simple
Restart=always

[Install]
WantedBy=graphical.target