[Unit]
Description=Raspbdio
After=network.target
After=graphical.target

[Service]
User=<USER>
Group=<USER>
WorkingDirectory=/home/<USER>/raspbdio
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStartPre=/usr/bin/sleep 5
ExecStart=/home/<USER>/raspbdio/raspbdio.py
Type=simple

[Install]
WantedBy=graphical.target